%html
  %body
    %form{method: "post", enctype:'multipart/form-data'}
      %h1 How many answers are on the test?
      %input{type: 'text', style: "width: 20px", name: 'count_test'}
      %h1 How many digits does the ID number contain?
      %input{type: 'text', style: "width: 20px", name: 'count_number'}
      %h1 How many answers does each question have?
      %input{type: 'text', style: "width: 20px", name: 'count_answers'}
      %h1 Upload Test Photo
      %input{type: 'file', name: 'testfile', multiple: true}
      %br
      %input{type: 'submit', value:'Upload!'}
