%html
  %body
    %form{method: "post", enctype: 'multipart/form-data'}
      %h2 Test Upload
      %input{type: 'text', value: @count_test, style: "display: none; width: 20px", name: 'count_test'}
      %input{type: 'text', value: 5, style: "display: none; width: 20px", name: 'count_number'}
      %input{type: 'text', value: 4, style: "display: none; width: 20px", name: 'count_answers'}
      %input{type: 'file', name: 'testfile', multiple: true}
      %br
      %input{type: 'submit', value:'Upload!'}
