html, body {
  background: white;
  padding: 0px;
  margin: 10px;
}


#main {
  overflow: hidden;
  position: relative;
}

#left {
  width: 500px;
  height: 800px;
  overflow: hidden;
  display: inline-block;

  float: left;
}

#editor textarea {
  width: 95%;
  margin: 0 auto;
  padding: 0px;
  width: 200px;
  height: 300px;
}

#viewer {
  width: 210mm;
  height: 297mm;
  display: inline-block;
  margin-left: 10px;
  background: red;
}

#viewer section.page, #viewer section.answers {
  width: 190mm;
  height: 277mm;
  overflow: hidden;
  background: white;
  padding: 10mm;
}

#viewer section.page header {

}

#options input {
  display: block;
}

code {
  white-space: pre;
}

ul {
    list-style: none;
}


.row .column {
    display: inline-block;
    width: 6.5%;
}

.row .column div {
    width: 5mm;
    height: 5mm;
    border: 4px solid black;
    margin: 10px;
}

.row .column div.number {
    border: none;
    text-align: center;
    margin: 14px;
}

.row .column div.filled {
    background: black;
}