html, body {
  background: white;
  padding: 0px;
  margin: 10px;
}


#main {
  overflow: hidden;
  position: relative;
}

#left {
  width: 500px;
  height: 800px;
  overflow: hidden;
  display: inline-block;

  float: left;
}

#editor textarea {
  width: 95%;
  margin: 0 auto;
  padding: 0px;
  width: 200px;
  height: 300px;
}

#viewer {
  width: 210mm;
  height: 297mm;
  display: inline-block;
  margin-left: 10px;
  background: red;
}

#viewer section.page {
  width: 210mm;
  height: 297mm;
  overflow: hidden;
  background: white;
}

#viewer section.page header {

}

#options input {
  display: block;
}

code {
  white-space: pre;
}

ul {
    list-style: none;
}
