/******************************************************************************/
/* Layout */

html, body {
    background: white;
    padding: 0px;
    margin: 10px;
}

#main {
    overflow: hidden;
    position: relative;
}

#overlay {
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 200;

    width: 100%;
    height: 100%;
    display: none;

    background-color: rgba(0,0,0,0.6);
}

#overlay h1 {
    width: 100%;
    height: 40px;
    margin-top: -20px;
    text-align: center;

    top: 50%;
    left: 0%;
    position: absolute;

    background-color: white;
}

#left {
    width: 40%;
    overflow: hidden;
    display: inline-block;
    float: left;
    padding-top: 55px;
}

code {
    white-space: pre;
}

ul {
    list-style: none;
}

/******************************************************************************/
/* Editor */

#editor textarea {
    margin: 0 auto;
    padding: 0px;
    width: 495px;
    height: 500px;
    width: 100%;
}

/******************************************************************************/
/* Options */

#options .field-group {
    display: inline-block;
    margin-left: 5px;
}

#options .field-group label {
    display: block;
    font-weight: bold;
}

/******************************************************************************/
/* Answers table */

table.answers {
    border-collapse: collapse;
}

table.answers td {
    border: solid 1px;
    width: 20px;
    text-align: center;
}

/******************************************************************************/
/* Viewer */

#viewer {
    width: 58%;
    display: inline-block;
    margin-left: 10px;
}

#variants {
    /* I know you will hate me for this, but the thing
       should be visible so that we can get proper
       client/scroll width/height. */
    margin-top: 5000px;
}

#viewer div.test-header,
#variants div.test-header {
    margin-bottom: 20px;
}

#viewer div.test-header .fn,
#variants div.test-header .fn {
    display: inline-block;
    margin-right: 40mm;
}

#viewer section,
#variants section {
    width: 210mm;
    overflow: hidden;
    background: white;
    position: relative;

    padding: 8mm 18mm 8mm 18mm;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#variants section {
    height: 297mm;
}

#viewer .page h1, #viewer .page h2, #viewer .page h3,
#variants .page h1, #variants .page h2, #variants .page h3 {
    text-align: center;
    margin: 0px 0px;
    padding: 0px 0px;
    font-weight: normal;
}

#viewer h1,
#variants h1 {
    font-size: 2em;
}

#viewer h2,
#variants h2 {
    font-size: 1.6em;
}
#viewer h3,
#variants h3 {
    font-size: 1.3em;
    margin-bottom: 30px;
}

/******************************************************************************/
/* Answers key/sheet */

.answers-key h1, .answers-sheet h1 {
    font-size: 2em;
    text-align: center;
}

#options input {
    display: block;
}

.row .column {
    display: inline-block;
    width: 6.5%;
    margin-bottom: 6mm;
}

.row .column div {
    width: 4mm;
    height: 4mm;
    border: 1mm solid black;
    text-align: center;
    /* margin: 10px; */
    margin-top: 6mm;
    font-size: 13px;
}

.row .column div:first-child {
    margin-top: 0;
}

.row .column div.number {
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
}

.row .column div.filled {
    background: black;
}

div.marker {
    width: 10mm;
    height: 10mm;
    background: black;
    /* Good enough for the demo */
    /*     background-image: url('patternRecognition/marker.png'); */
    display: inline-block;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.top-center {
    position: absolute;
    top: 0;
    left: 110mm;
}

.boxname {
    border: 1mm solid black;
    padding: 2mm;
}
